@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* *{
  margin: 0;
} */


/* shure styles */
.display{
  display: flex;
}
.text-grary{
  color: #424242;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.dark1{
  color: #131313;
}
.btn-primary{
  background-color: rgba(255, 144, 14, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  font-weight: 500;
  padding: 21px 24px;
  border: none;
  border-radius: 8px;
}
/* navber styles */
.navber{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: bold;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-left: 30px;
}
.nav-link{
  text-decoration: none;
}
.navber, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner shure style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-img{
  width: 100%;
}
/* *responsive media query */
@media screen and (max-width:576px) {
  .navber, .nav-links{
    flex-direction: column;
  }
}


  



